  <div class='country-card__body' style="margin: 5px">
    <h2 class='country-card__name' >{{name.official}}</h2>
    <img class='country-card__image' src={{flags.svg}} alt={{name.common}} width="300px"/>
    <p class='country-card__capital'><b>Capital:</b> {{capital}}</p>
    <p class='country-card__population'><b>Population:</b> {{population}}</p>
    <p class='country-card__languages-group'>
        <p><b>Languages:</b></p>
        <ul class='country-card__languages'>
          {{#each languages}}
          <li class='country-card__language'>{{this}}</li>
          {{/each}}
    </p>
    </ul>
  </div>